<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
  Add a quote
  <form action="/quotes" method="post">
    name: <input type="text" name="name">
    quote: <input type="text" name="quote">
    <input type="submit">
  </form>
  <a href="/main">to the quote</a>
</body>
</html>
