<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  here are the awesome quotes!
  <% for (let q of quotes) { %>
    <h3>name: <%= q.name %></h3>
    <h3>quote: <%= q.quote %></h3>
  <% } %>
</body>
</html>
